<div
  class="bg-image"
  style="
    background-image: url('https://media.istockphoto.com/photos/black-stethoscope-on-blue-background-picture-id1179610553?k=20&m=1179610553&s=170667a&w=0&h=rdYywi_4mFpMiH2cgdGXvGRb-_R78Mdycsl--DQCg9g=');
    height: 100vh;
  ">


<div style="margin-top: 10%;" class="col-md-8 offset-md-4">
<h3>View Product Details</h3>
<div>

    <div>
        <label> <b> Product Title: &nbsp;</b></label>{{product.title}}
    </div>


    <div>
        <label> <b> Price: &nbsp;&nbsp;</b></label>{{product.price}}
    </div>

    <div>
        <label> <b> Description: &nbsp;&nbsp;&nbsp;</b></label>{{product.description}}
    </div>

    <div>
        <label> <b> Category: &nbsp;&nbsp;&nbsp;</b></label>{{product.category}}
    </div>

   <div>
        <label> <b> Image: &nbsp;&nbsp;</b></label>{{product.image}}
    </div>  
    
</div>
<button routerLink="/admin-home" class="btn btn-outline-dark">Back</button>
</div>
</div>